<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title" *ngIf="!page._id">Add Page</h4>
                        <h4 class="card-title" *ngIf="page._id">Edit Page</h4>
                        <p class="card-category">Complete your Page details</p>
                    </div>
                    <div class="card-body">
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="page.pageType" name="pageType" #pageType="ngModel"
                                            placeholder="Select a Page Type">
                                            <mat-option *ngFor="let page of pageTypes" [value]="page">
                                                {{page | uppercase}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="text" name="name" [(ngModel)]="page.name" #name="ngModel"
                                            placeholder="Name" required>
                                        <mat-error *ngIf="f.submitted && name.invalid">
                                            Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput type="text" name="heading" [(ngModel)]="page.heading"
                                            #heading="ngModel" placeholder="Heading" required>
                                        <mat-error *ngIf="f.submitted && heading.invalid">
                                            Heading is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <ckeditor [(ngModel)]="page.content" name="page.content" [config]="ckeConfig"
                                        debounce="500">
                                    </ckeditor>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Sections</h3>
                                </div>
                                <div class="col-md-2" style="margin-top: 20px;">
                                    <button class="btn btn-primary" type="button btn-secondary" type="button"
                                        mat-icon-button (click)="addSection()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="card" style="margin-left: 0;"
                                *ngFor="let section of page.sections;let index=index">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-10"></div>
                                        <div class="col-md-2">
                                            <button class="btn btn-danger" type="button btn-secondary" type="button"
                                                mat-icon-button (click)="deleteSection(index)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <mat-form-field>
                                                <input matInput type="text" name="section.name{{index}}"
                                                    [(ngModel)]="section.name" #sectionName="ngModel" placeholder="Name"
                                                    required>
                                                <mat-error *ngIf="f.submitted && sectionName.invalid">
                                                    Name is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6 ">
                                            <mat-form-field>
                                                <input matInput type="text" name="section.heading{{index}}"
                                                    [(ngModel)]="section.heading" #sectionHeading="ngModel"
                                                    placeholder="Heading" required>
                                                <mat-error *ngIf="f.submitted && sectionHeading.invalid">
                                                    Heading is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="section.media_side" name="pageType{{index}}"
                                                    #media="ngModel" placeholder="Select a Media Side" required>
                                                    <mat-option *ngFor="let media of mediaSides" [value]="media">
                                                        {{media | uppercase}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 ">
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="section.sectionType"
                                                    name="sectionType{{index}}" #sectionType="ngModel"
                                                    placeholder="Select a Section Type" required>
                                                    <mat-option *ngFor="let sectionType of sectionTypes"
                                                        [value]="sectionType">
                                                        {{sectionType | uppercase}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>Redirect Details</strong>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-secondary" type="button btn-secondary"
                                                    type="button" mat-icon-button
                                                    (click)="addRedirectDetail(section.redirect_detail)">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row"
                                            *ngFor="let redirect of section.redirect_detail;let redirectIndex=index">
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <input matInput type="text"
                                                        name="redirect.button_text_{{index}}_{{redirectIndex}}"
                                                        [(ngModel)]="redirect.button_text" #redirectButton="ngModel"
                                                        placeholder="Button Name" required>
                                                    <mat-error *ngIf="f.submitted && redirectButton.invalid">
                                                        Redirect Button Name is <strong>required</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <mat-form-field>
                                                    <input matInput type="text"
                                                        name="redirect.redirect_url_{{index}}_{{redirectIndex}}"
                                                        [(ngModel)]="redirect.redirect_url" #redirecturl="ngModel"
                                                        placeholder="URL" required>
                                                    <mat-error *ngIf="f.submitted && redirecturl.invalid">
                                                        Redirect Link is <strong>required</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-secondary" type="button btn-secondary"
                                                    type="button" mat-icon-button
                                                    (click)="deleteRedirectDetail(redirectIndex, section.redirect_detail)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                Media
                                            </div>
                                            <div class="col-md-4">
                                                <app-file-uploader [param]="{}" [target]="targetUrl"
                                                    (complete)="addMedia($event, section)">
                                                </app-file-uploader>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div *ngFor="let media of section.medias; let mediaIndex= index">
                                                <div class="col-md-2 floatLeft">
                                                    <img src="{{mediaUrl}}{{media.media_link}}" style="width:50%">
                                                </div>
                                                <div class="col-md-1 floatLeft">
                                                    <button type="button btn-secondary" type="button" mat-icon-button
                                                        (click)="deleteSectionImage(mediaIndex, section.medias)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <ckeditor [(ngModel)]="section.content" name="page.content_{{index}}"
                                            [config]="ckeConfig" debounce="500">
                                        </ckeditor>
                                    </div>
                                    <div class="col-md-6">.</div>
                                    <br>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary mr-1" type="submit">Save</button>
                                <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>