.click-here-box {
    border-radius: 6px;
    background-color: #fff4d9;
    padding: 23px 40px 21px 72px;
    position: relative;

    .click-here-span {
        font-weight: 600;
        color: color(color-ee1f52);
    }

}
.verified{
    color: rgb(93, 236, 93);
    font-size: medium;
}

.not-verified{
    color: rgb(233, 89, 89);
    font-size: medium;
}