<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body table-responsive">

                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-body row">
                <div class="col-md-6">
                    <label id="example-radio-group-label">Status</label>

                </div>
                <div class="col-md-4">
                    <label id="example-radio-group-label">Shoud List</label>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card card-chart">
            <div class="card-body">
                <h4 class="card-title">
                    <!-- <img [src]="defaultImageUrl" style="height: 300px;width: 100%;" /> -->
                </h4>
                <div class="card-footer ">
                    <!-- <button *ngIf="!shouldView" mat-icon-button color="warn" matTooltip="Search For Image"
                        [matTooltipPosition]="'above'" (click)="onDefaultImageSelection()">
                        <mat-icon class="mat-18">image_search</mat-icon>
                    </button> -->
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf="!shouldView">
    <button mat-raised-button class="btn btn-info pull-right" (click)="onSubmit()">Save</button>
    <button mat-raised-button class="btn btn-warning pull-right" (click)="onView()">View</button>
    <button mat-raised-button class="btn btn-danger pull-right" (click)="cancel()">Cancel</button>
</div>
<div *ngIf="shouldView">
    <button mat-raised-button class="btn btn-info pull-right" (click)="onEdit()">Edit</button>
    <button mat-raised-button class="btn btn-danger pull-right" (click)="cancel()">Cancel</button>
</div>
<div class="clearfix"></div>