.example-card {
  max-width: 500px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

table {
  width: 100%;
}

.card {
  margin-top: 0;
}

.slider {
  width: 450px;
  margin-left: 2%;
  margin-bottom: 2% !important;
}

.imageIcon {
  height: 50px;
  width: 50px;
  margin: 1%;
}

.defaultImage {
  width: 395px;
  height: 375px;
}


// slider
