table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.tabelHeader {
    th {
        padding: .25em .5em !important;
        font-size: 0.7em;
    }

    td {
        font-size: 0.7em;
    }
}

.tdWidth {
    width: 5em
}

.marginTop5 {
    margin-top: 5%;
}

.marginTop2 {
    margin-top: 2%;
}

.mat-radio-button {
    display: block;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.example-large-box {
    height: 300px;
}


.marginZero {
    margin: 0;
}