<div>
    <h1 mat-dialog-title> Reports</h1>
    <div mat-dialog-content>
        <div class="row scroll">
            <div class="card card-chart">
                <div class="card-body row">
                    <div class="col-md-6 partition">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Experion Report</h3>
                            </div>
                            <div class="col-md-8">
                                Active Accounts
                            </div>
                            <div class="col-md-4">
                                {{data.html.report.experion.activeAccounts}}
                            </div>
                            <div class="col-md-8">
                                Closed Accounts
                            </div>
                            <div class="col-md-4">
                                {{data.html.report.experion.closedAccounts}}
                            </div>
                            <div class="col-md-8">
                                DPDS
                            </div>
                            <div class="col-md-4">
                                {{data.html.report.experion.dpds}}
                            </div>
                            <div class="col-md-8">
                                6 months enquiry
                            </div>
                            <div class="col-md-4">
                                {{data.html.report.experion.enquiries_in_6_months}}
                            </div>
                            <div class="col-md-8">
                                Score
                            </div>
                            <div class="col-md-4">
                                {{data.html.report.experion.score}}
                            </div>
                            <div class="col-md-8">
                                Suit Filed Amount
                            </div>
                            <div class="col-md-4">
                                {{data.html.report.experion.suitFiledAmount}}
                            </div>
                            <div class="col-md-8">
                                Total Accounts
                            </div>
                            <div class="col-md-4">
                                {{data.html.report.experion.totalAccounts}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Inkredo Report</h3>
                            </div>
                            <div class="col-md-7">
                                Average Balance
                            </div>
                            <div class="col-md-5">
                                {{data.html.report.inkredo.average_balance | number}}
                            </div>
                            <div class="col-md-7">
                                Defaults
                            </div>
                            <div class="col-md-5">
                                {{data.html.report.inkredo.defaults}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-sm btn-warning" title="Download as JSON" [href]="downloadDetail.experion.report"
                            [download]="downloadDetail.experion.reportName">
                            <mat-icon class="mat-18">arrow_downward</mat-icon>
                            Download
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-sm btn-warning" title="Download as JSON" [href]="downloadDetail.inkredo.report"
                            [download]="downloadDetail.inkredo.reportName">
                            <mat-icon class="mat-18">arrow_downward</mat-icon>
                            Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()" class="btn btn-danger pull-right">Cancel</button>
        <button class="btn btn-info pull-right" (click)="onCancel()" mat-button>Done</button>
    </div>
</div>